# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment & Secrets
.env
.env.*

# OS System Files
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite
*.sqlite3

# Build Artifacts (Frontend, Backend, Electron)
dist/
build/
backend/dist/
backend/build/
backend/*.spec
frontend/dist/
electron-app/dist/
electron-app/build/

# Installers and Binaries
*.dmg
*.app
*.zip
*.log